@import "../_variables";
.card {
  position: relative;
  background-color: #ffffff;
  height: 350px; // Altura fija para la tarjeta
  width: 260px;
  border-radius: 8px;
  margin: 0px;
  padding: 10px;

  font-family: $font-text;
  display: flex;
  flex-direction: column;
  justify-content: space-between; // Para distribuir espacio uniformemente entre las secciones
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    box-shadow 0.3s ease;
  &.light-mode {
    background-color: #ffffff;
    color: $light-text;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
  }
  &.dark-mode {
    background-color: #313030;
    color: $dark-text;
    box-shadow: 0 4px 8px rgba(39, 38, 38, 0.1);
  }
  .image-container {
    height: 150px;
    margin-bottom: 10px;
    img {
      width: 100%;
      height: 100%; // Asegura que la imagen siempre ocupe el espacio asignado
      object-fit: cover; // La imagen se adapta manteniendo su relación de aspecto
      border-radius: 4px;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .category-author {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;

      .category {
        background-color: $primary-color;
        color: white;
        padding: 4px 8px;
        border-radius: 12px;
        font-size: 0.9rem;
      }

      .date {
        font-size: 0.9rem;
        color: #888;
      }
    }

    .title {
      font-size: 1.5rem;
      margin: 5px 0;
      flex-shrink: 0;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2; // Limita a 2 líneas de texto
      overflow: hidden; // Oculta el texto que excede
    }

    .description {
      font-size: 1rem;
      margin: 5px 0;
      flex-grow: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2; // Limita a 2 líneas de texto
      -webkit-box-orient: vertical;
    }

    .author {
      font-size: 0.9rem;
      color: #888;
      margin-top: auto; // Empuja al autor hacia abajo
      flex-shrink: 0; // Evita que el autor se comprima
    }
  }

  .card-actions {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;

    svg {
      background-color: rgba(0, 0, 0, 0.6); // Fondo negro semi-transparente
      border-radius: 50%;
      padding: 5px;
      color: white; // Color del icono en blanco
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: rgba(
          0,
          0,
          0,
          0.8
        ); // Cambia a un fondo más oscuro al hacer hover
      }
    }
  }
}
