// src/styles/components/header.scss
@import "../_variables.scss"; // Importa las variables

.header {
  display: flex;
  justify-content: center; // Centra el contenido del header
  align-items: center;
  padding: 1rem;
  background-color: $light-header-bg; // Color de fondo claro por defecto
  color: $light-text; // Texto claro por defecto

  &.light {
    background-color: $light-header-bg; // Fondo claro
    color: $light-text; // Texto oscuro
  }

  &.dark {
    background-color: $dark-header-bg; // Fondo oscuro
    color: $dark-text; // Texto claro
  }

  h1 {
    margin: 0; // Elimina el margen para centrar perfectamente
    flex: 1; // Permite que el h1 tome espacio
    text-align: center; // Centra el texto
  }

  .mode-toggle {
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 1.5rem;
    margin-left: auto; // Empuja el botón a la derecha
  }

  .mode-info {
    margin-left: 1rem; // Espacio entre el botón y el texto
    font-size: 1rem; // Ajusta el tamaño de fuente
  }
}
