// src/styles/components/header.scss
@import "../_variables.scss";

.header {
  position: fixed; // Fija el header en la parte superior
  top: 0; // Coloca el header en la parte superior de la ventana
  left: 0; // Alinea el header a la izquierda
  right: 0; // Alinea el header a la derecha
  z-index: 1000; // Asegura de que el header esté por encima de otros elementos
  display: flex;
  align-items: center; // Centra verticalmente los elementos
  padding: 1rem;
  background-color: $light-header-bg; // Color de fondo claro por defecto
  color: $light-text; // Texto claro por defecto
  font-family: $font-text;

  &.light {
    background-color: $light-header-bg; // Fondo claro
    color: $light-text; // Texto oscuro
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  &.dark {
    background-color: $dark-header-bg; // Fondo oscuro
    color: $dark-text; // Texto claro
  }

  .title {
    margin: 0; // Elimina el margen para centrar perfectamente
    flex: 1; // Permite que el h1 tome espacio
  }

  .mode-toggle {
    display: flex; // Usa flex para alinear el interruptor y el ícono
    align-items: center; // Centra verticalmente el contenido
    margin-left: auto; // Empuja el contenedor hacia la derecha

    svg {
      margin-left: 0.5rem; // Espacio entre el interruptor y el ícono
    }
  }
}
