// src/styles/components/mainContent.scss

@import "../_variables"; // Importa tus variables de colores

.main-content {
  flex: 1; // Permite que el MainContent ocupe todo el espacio disponible
  padding: 20px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;

  &.light-mode {
    background-color: $light-background;
    color: $light-text;
  }

  &.dark-mode {
    background-color: $dark-background;
    color: $dark-text;
  }

  // Agrega más estilos según sea necesario
}
