@import "../_variables";

.main-content {
  flex: 1; // Permite que MainContent crezca
  padding: 20px;
  // min-height: 100vh; // Asegura que el fondo cubra al menos el 100% de la altura de la pantalla
  background-color: $light-background;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;

  &.light-mode {
    background-color: $light-background;
    color: $light-text;
  }

  &.dark-mode {
    background-color: $dark-background;
    color: $dark-text;
  }

  .add-news-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: $primary-color;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    overflow: hidden;
    transition:
      background-color 0.3s ease,
      transform 0.2s ease;

    &:hover {
      background-color: darken($primary-color, 10%);
      transform: scale(1.1);
    }
  }
}
