// src/styles/components/pagination.scss

@import "../_variables.scss";

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: fixed; // Cambiado a fixed
  bottom: 0; // Ubicado en la parte inferior
  left: 0;
  right: 0; // Se extiende a ambos lados
  margin-top: 20px; // Puedes eliminar o ajustar según sea necesario

  &.light-mode {
    background-color: $light-pagination-background;
    color: $light-pagination-text; // Texto oscuro en modo claro
  }

  &.dark-mode {
    background-color: $dark-pagination-background;
    color: $dark-pagination-text; // Texto claro en modo oscuro
  }

  .pagination-button {
    background-color: transparent;
    border: none;
    color: inherit; // Hereda el color del texto
    cursor: pointer;
    padding: 5px 10px;
    margin: 0 5px;
    font-weight: bold;
    border-radius: 5px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1); // Efecto hover
    }
  }

  span {
    margin: 0 10px;
  }
}
