// src/styles/_variables.scss

// Colores para modo diurno
$light-background: #eaeaea;
$light-text: #000000;
$light-header-bg: #f0f0f0;

// Colores para modo nocturno
$dark-background: #5b5858;
$dark-text: #ffffff;
$dark-header-bg: #444444;

// Colores generales
$primary-color: #007bff; // Puedes cambiar este color según tus necesidades
