// src/styles/_variables.scss

//Fuente
$font-text: "Poppins", sans-serif;

// Colores para modo diurno
$light-background: #eaeaea;
$light-text: #000000;
$light-header-bg: #f0f0f0;

// Colores para modo nocturno
$dark-background: #5b5858;
$dark-text: #ffffff;
$dark-header-bg: #444444;

// Colores generales
$primary-color: #007bff;

// Colores del paginador
$light-pagination-background: $light-background;
$dark-pagination-background: $dark-background;

// Colores de texto del paginador
$light-pagination-text: $light-text;
$dark-pagination-text: $dark-text;
